/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffafafa;
}

header {
    display:flex ;
    align-items: stretch;
    background-color: green;
    background-image: url("https://avatars.githubusercontent.com/u/55566835?s=400&u=a16f99d47518f9e8d901ccbf75d7055f235e899e&v=4");
    font-size: 36px;
    text-align: center;
   
}
header h1 {
    color: #fff5f5f5;
}
/* Estilos para el logotipo */

#logo{
    border-radius: 50%;
    
}
#head1{

    width: 20%;
    max-height: 50%;
    min-height: 20%;
    margin-top: 0.5%;
    margin-left: 3.5%;

}
#head2{

    width: 80%;
    max-height: 50%;
    min-height: 20%;
    padding-top: 4%;
}

img {
    max-width: 200px; /* Ajusta el ancho máximo */
    height: auto; /* Mantiene la proporción de aspecto */
}
/* Estilos para nav */

nav {
    background-color: darkolivegreen;
  padding-left: 10%;
    
    
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    
}
/* Estilos */

#principal{
    display: flex;
    align-items: stretch;
   
}

#blog{
    background-color:white;
    
}

#contenido{
    width: 100%;
    min-height: 80%;
}

aside{
    margin-right: 5%;
    width: 20%;
    min-height: 80%;
    
}

section {
    padding: 20px;
    display: grid;
    grid-gap: 10px;
}


#contacto{
    background-color:white;
}

/* Estilos específicos */
h1 {
    
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

article {
    border: 1px solid #ddd;
    padding: 5px;
}

footer {
    background-color: #b1aeae;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos de enlaces */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration:none;
    background-color: rgb(66, 97, 13);
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
        display:grid;

    }
    #principal{
        display: grid;
        align-items: normal;
    }
    nav ul {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }
}