/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffffffa;
}

header {
    display:flex ;
    align-items: stretch;
    background-color: rgb(2, 88, 2);
    font-size: 36px;
    text-align: center;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}
header h1 {

    color: #fff5f5f5;
}
/* Estilos para el logotipo */

#logo{

    border-radius: 50%;
    
}
#head1{

    width: 20%;
    max-height: 50%;
    min-height: 20%;
    margin-top:3.5% ;
    margin-bottom: 0%;
    

}
#head2{
    justify-content: left;
    width: 80%;
    max-height: 50%;
    min-height: 20%;
    padding:10%;
    padding-bottom:1%;
    margin-top: auto;
}
#head2 h1{
font-size:40px;
}

img {
    max-width: 200px; /* Ajusta el ancho máximo */
    height: auto; /* Mantiene la proporción de aspecto */
}
/* Estilos para nav */

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: darkolivegreen;
    padding-left: 5%;
    z-index: 1000; /* Asegura que la barra de navegación esté sobre otros elementos*/

  
    
    
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    padding-bottom: 1%;
    padding-top: 1%;
    margin: 0; /* Elimina el margen predeterminado de la lista */
}

nav ul li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    
    
}
nav a:hover {
    text-decoration:none;
    background-color:darkolivegreen;
    margin: 1%;
    padding: 3%;
    opacity: 80%;
}
/* Estilos para el logotipo en la barra de navegación */
#logo-navbar{
   
    display: none; /* Oculta el logotipo en la barra de navegación por defecto */
    margin-right: 10%;/* Ajusta el margen entre el logotipo y las opciones de navegación */
   
}

#logo-navbar-image{
    border-radius: 50%;
    width: 11%;
    margin-right:10%;
    


}

/* Estilos para la barra de navegación fija */
.sticky {

    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


/* Estilos */

#principal{
    display: flex;
    align-items: stretch;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
}

#blog{
    background-color:white;
    
}

#contenido{
    width: 100%;
    min-height: 80%;

}
#contenido  {
    text-align: justify;

   

}

#servicios {
    display: none;
    background-color: #cbeed6;
    width: auto;
    min-height: 80%;
    transition: opacity 0.3s ease; /* Agrega una transición suave para la propiedad de opacidad */
    padding: auto;

}
#servicios ul li{
    text-align: center;
    text-decoration:none;
    display:block;
    font-size: x-large;
}
#servicios a{
    color:rgb(80, 70, 70);

}
#servicios h2{
    font-size:xx-large;
    text-align: center;
   
    }
#servicios article{
    border-style: none;
}

#servicios.visible {
    display: block;
    opacity: 1; /* Muestra el elemento con una opacidad completa */
}


section {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
}


#contacto{
    background-color:white;
    text-align: center;
    
}

/* Estilos específicos */
h1 {
    
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

article {
    padding: 5px;
}

footer {
    background-color: #809474fa;
    color: 809474fa;
    text-align: center;
}
footer img{
    width: auto;
      
}
footer ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
}

footer ul li {
    display: inline; /* Mostrar elementos de la lista en línea */
   /* Espacio entre elementos */
    margin-right: 10px;



/* Estilos de enlaces */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration:none;
    
}


/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 768px) {
    /* Estilos para nav */
    #navbar {
        padding-left: 0%; /* Reduce el padding en pantallas pequeñas */
        flex-direction: row; /* Cambia la dirección del flexbox a columna */

    }

    #navbar ul {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Ajusta el tamaño de los elementos de la lista */
        grid-gap: 10px; /* Reduce el espacio entre elementos de la lista */
    }

    #navbar a {
        padding: 5px; /* Aumenta el espacio alrededor de los enlaces */
        font-size: large;
    }

    /* Estilos para el contenido */
    #principal {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
    }

    #servicios {
        width: 100%; /* Ajusta el ancho del aside al 100% */
        min-height: auto; /* Elimina la altura mínima */
        flex-direction: row; /* Cambia la dirección del flexbox a columna */

    }
    #servicios article {
        width: 100%;
        min-height: 80%;
    }
    #contacto{
        flex-direction: row; /* Cambia la dirección del flexbox a columna */

    }
    #contacto article{
        width: 100%;
        min-height: 80%;
    }
    #footer{
        flex-direction: row; /* Cambia la dirección del flexbox a columna */

    }

    /* Otros ajustes */
    header {
        font-size: 24px; /* Reduce el tamaño del texto del encabezado */
        flex-direction:row; /* Cambia la dirección del flexbox a columna */
    }

    }

    #head1 {
        width: 30%; /* Ajusta el ancho del logotipo */
        margin-left: 5%; /* Ajusta el margen izquierdo */
    }

    #head2 {
        width: 70%; /* Ajusta el ancho del encabezado */
        padding-top: 2%; /* Ajusta el relleno superior */
    }
