body {
    background: #125358;
}
.text-effect{
    transition: color 0.3s ease-in-out;
}

.text-effect:hover{
    color: #ff69b5;
}

img {
    width:100%;
    max-width:100%;
}

.menu {
    list-style:none;
    padding:0;
    background; #092327;
    width:90%;
    max-width:100%;
    margin:auto;
}

.menu li a {
    text.decoration: none;
    color: white;
    padding:10px;
    display:block;
}

.menu li {
    display:inline-block;
    text-aling:center;
    
}

.menu li a:hover{
    background: #ef8354;
}
