 *{
     padding: 0px;
     margin: 0px;
 }
 html {
     background: #c0c0c0;
     
 }
 
 body{
     height: 750px;
     width: 750px;
     background: orange;
     margin: auto;
     margin-top: 15px;
 }
 
 header{
     height: 250px;
     width: 750px;
     background: red;
 }
 
 #banner {
     height: 250px;
     width: 500px;
     background: black;
     float: right;
 }
 
 #logo {
     width: 250px;
     height: 125px;
     background: #13DACB;
     
 }
 # logo img{
     width="250px" ;
     height="125px;
 }
 
 #buscador {
     width: 250px;
     height: 125px;
     background: #40DA13;
 }
 # buscador img{
     width="250px" ;
     height="125px;
 }
 nav{
     height: 50px;
     background: blue;
 }
 
 main{
     height: 400px;
     width: 750px;
     background: pink;
 }
 
 #lado_izquierdo {
     height: 400px;
     width: 200px;
     background: #EDE313;
     float: left
     
 }
 
 article{
     height: 400px
     width: 350px;
     background: white;
     float: left;
 }
 #lado_derecho {
     height: 400px;
     width: 200px;
     background: #EDE313;
     float: right;
 
 
 footer{
     height: 50px;
     background: orange;
 }