li {
    color: blue;
    font-size: 20px;
    
}

h2 {
    font-family: 'Playpen Sans', cursive;
    font-size:50px;
}

h3 { 
    font-family: 'Josefin Sans',     sans-serif;
    font-family: 'Playpen Sans', cursive;

}

img {
    whidth:200px;
}
.imagen-de-gatos{
    whidth: 300px;
    border-width: 5px;
    border-color: blue;
    border-style: solid
    
}