body {
  background: #ebd8d8;
}
.contenedor-global{
  
  background: #ffffff;
}
.cabecera {  background: #e28335;
}
.navegacion {  background: #f78c00;
}
.contenido {  background: #70d5f1;
}
.pie-de-pagina {  background: #09b8fd;
}