/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffffffa;
}

     /*Estilos de enlaces*/ 
 a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration:none;
    
}

/*finde los estilos de las tarjetas*/

  /* Estilos específicos 
h1 {
    
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

ul {
    list-style: disc;
    padding-left: 20px;
}*/

/*estilos cabecera*/

header {

    display:flex ;
    flex-wrap: wrap;

    background-color: white;
    font-size: 36px;
    text-align: center;
    padding-bottom: 0.5%;
    padding-top: 1%;
}
header h1 {

    color: #fff5f5f5;
    padding: 10px; /* Espacio alrededor del texto */
    width: fit-content; /* Ajusta el ancho del contenedor al contenido */
    background-color: black;
    box-shadow:0px 7px 5px 5px gray    ;

    
}
header h2 {

    color: #000000f5;
    border: 1px solid black; /* Ancho, tipo y color del borde */
    padding: 10px; /* Espacio alrededor del texto */
    width: fit-content; /* Ajusta el ancho del contenedor al contenido */
}
    /* Estilos para el logotipo */

#logo{

    border-radius: 50%;
    border: 1px solid black; /* Ancho, tipo y color del borde */

}
#head1{
    flex:content;
    padding-top:5%;
   /* margin-top:3.5%;*/
    padding-left: 5%;
    width: fit-content; /* Ajusta el ancho del contenedor al contenido */



    
}
#head2{

    flex:content;
    margin-top: auto;    
}
#head2 h1{

font-size:xx-large;

}

#head1 > img {

    display: block;
    max-width: 200px; /* Ajusta el ancho máximo */
    height: auto; /* Mantiene la proporción de aspecto */
    border: 2px solid black; /* Ancho, tipo y color del borde */
    padding: 10px; /* Espacio alrededor del texto */
    width: fit-content; /* Ajusta el ancho del contenedor al contenido */
}
/*estilos cabecera*/

img {
    max-width: 200px; /* Ajusta el ancho máximo */
    height: auto; /* Mantiene la proporción de aspecto */}

/* Estilos para la barra de navegacion */

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: darkolivegreen;
    padding-left: 5%;
    z-index: 1000; /* Asegura que la barra de navegación esté sobre otros elementos*/
    padding: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    padding-bottom: 10%;
    padding-top: 1%;
    margin: 0; /* Elimina el margen predeterminado de la lista */
}

nav ul li {

   /* display: inline;*/
   padding-left: 10%;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
nav a:hover {
    text-decoration:none;
    background-color:darkolivegreen;
    margin: 1%;
    padding: 3%;
    opacity: 80%;
}

    /* Estilos para el logotipo en la barra de navegación */
#logo-navbar{
   
    display: none; /* Oculta el logotipo en la barra de navegación por defecto */
    margin-right: 50px; /* Ajusta el margen derecho para separar el logo del borde */
}

#navbar {
    background-color: darkolivegreen;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar la barra de navegación horizontalmente */

}
#menu-items {
    list-style-type: none;
    margin-left: 10%;
    margin-right: 20%;
    padding: 0;
    display:flex;
   
   
}
    /*#navbar button{

    background-image: url("BTN/NORMAL.png" );
    height:20%;
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
      background-color: darkolivegreen;
}
#navbar button:hover {
    background-image: url("BTN/SOBRE.png" );
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
#navbar button:active {
    background-image: url("BTN/PRESIONADO.png" );
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
*/  
#menu-items ul {
    
    margin: 0;
    padding: 0;
    display:flex;
   
}
#menu-items li {
    margin-right: 10px;
}
#menu-items li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}


#logo-navbar-image{
    border-radius: 50%;
    width: 20%;
    margin:0%;
    margin-right: 10px;
    margin-left: 10%;
   /* margin-top: 5px;*/
    border-color: darkolivegreen;
    border-style:solid;
}
#logo-navbar ul{
display: row;
float: left;
position:absolute;
align-items: center;

}

    /* Estilos para la barra de navegación fija */
.sticky {

    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

    /* Estilos para el menú de hamburguesa */
#menu-toggle {
    display: none; /* Ocultar el menú de hamburguesa por defecto */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}
/* fin de los estilos barra de navegaciopn*/
    
  /* Estilos */

#principal{
    display: flex;
    flex-wrap: wrap;
    background-color: lightsteelblue;
  
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10%;
    margin-bottom: 10%;
}
.column1 {
    flex:content;
   
}
.column2 {
    flex:content;
   
}

#blog{
    background-color:white;
    
}

#contenido{
    flex:content;
    min-height: 80%;
    text-align: justify;
}


#servicios {
    flex:content;
    /*display: none;*/
    margin-top: 10px;
    background-color: #809474fa;
    transition: opacity 0.3s ease; /* Agrega una transición suave para la propiedad de opacidad */
    border-top-left-radius: 5%;
    border-bottom-right-radius: 10%;
    border: 1px solid black; /* Ancho, tipo y color del borde */
    box-shadow: 5px 5px 10px 1px  darkolivegreen;
    
}
#servicios ul li{
    text-align: center;
    text-decoration:none;
    display:block;
    font-size: x-large;
}
#servicios a{
    color: azure;
    padding-bottom: 3%;

}
#servicios a:hover{
    color:white;
    text-decoration:none;
    opacity: 80%;

}
#servicios h2{
    display:block;
    font-size:xx-large;
    text-align: center;
   
    }
#servicios article{
    border-style: none;
}

#servicios.visible {
    display: block;
    opacity: 1; /* Muestra el elemento con una opacidad completa */
}

section {
    padding:0%;
    display: grid;
    grid-gap: 10px;
}


#contacto{
    flex:content;
    font-size:medium;
    background-color:white;
    text-align: center;
    margin-bottom:5%; 
}
#formulariocontacto{
    background-color: rgb(207, 205, 205) ;
    padding: 10%;
    gap: 10%;
    display:none;
    transition: opacity 0.3s ease; /* Agrega una transición suave para la propiedad de opacidad */
    box-shadow: 0px 5px 10px 1px;
    margin: 5%;
}
#toggleFormBtn{
    background-color: green;
    width: 20%;
    padding: 1%;
    margin:20% ;
    text-decoration-color: azure;
    font-size: larger;
}



/*estilos*/

/*estilos tarjetas*/

.grid-container {
    
    display:flex;
    grid-template-columns:auto;
    gap: 5%;
    background-color:transparent;
    column-count: 1;
    justify-content: center; /* Centra horizontalmente */

  }
  
  .tarjeta {
    background-color:none;
    border: none;
    font-size: medium;
    display: grid;
    width: 100%;
    margin: 10%;
    box-shadow: 5px 5px 10px 1px  darkolivegreen;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
   /* padding:5%;*/

  }
  
  .col-img {
    background-color: #809474fa;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    /*align-items: center; /* Centra verticalmente */
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }
.col-img img {
    width: 200px;
    height: 200px;
  max-width: 100%; /* La imagen ocupará todo el ancho de su contenedor */
  max-height: 100%; /* La imagen ocupará todo el alto de su contenedor */
  border-radius: 10%;
}

  
  .col-tex {
    background-color:white;
    width: 20em;
       padding: 5px;   /*Añade un relleno para separar el texto del borde */
   max-height: 100%;
   max-width: 100%; /* La imagen ocupará todo el ancho de su contenedor */
   justify-content: center; /* Centra horizontalmente */

  }
  
  .col-tex > p > h2 {
    /*text-align:justify; /* Alinea el texto justificado */
    margin:10%;
    padding: 5%;
  }
  
/*
article {
    padding: 5px;
}*/



/*footer*/
footer {
    display:flex ;
    flex-wrap: wrap;
    flex-direction:row;
    background-color: #809474fa;
    color: 809474fa;
    text-align: center;
    padding-top: 2%;
}
#footer1{
    padding:auto;
    flex:content;


}
#footer2{
    padding:auto;
    flex:content;

}
#footer3{
    padding:auto;
    flex:content;

}
footer img{
    width: auto;
      
}
footer ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
}

footer ul li {
   
    margin-right: 1px;
}
/*footer*/





/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 510px) {
   
    /* Estilos para nav */
    #navbar {
        padding-left: 5%; /* Reduce el padding en pantallas pequeñas */
        flex-direction: row; /* Cambia la dirección del flexbox a columna */
        flex: 100%;        

    }

    #navbar ul {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Ajusta el tamaño de los elementos de la lista */
        grid-gap:30%; /* Reduce el espacio entre elementos de la lista */
        flex: 100%;        

    }

    #navbar a {
        padding: 1%; /* Aumenta el espacio alrededor de los enlaces */
        margin-top: 5%;
        font-size: x-large;
    }


    
        /* Añade estilos para el botón de hamburguesa */
        #menu-toggle {
            display: block; /* Mostrar el botón de hamburguesa */
           
        }
    
        /* Oculta los elementos de la barra de navegación en pantalla pequeña */
        #menu-items {
            display: none;
        }
    }
    
 
    /*tarjetas*/
@media only screen and (max-width: 510px) {
    #hide{
      display: none; /* Oculta el contenedor en pantallas pequeñas */
    }
  }
  
  /* Estilos de las tarjetas para pantallas medianas (tablets) y superiores */
  @media only screen and (min-width: 601px) {
    #hide{
      display: block; /* Muestra el contenedor en pantallas de tamaño tablet en adelante */
    }
  }

